name: Telegram Release Notification

on:
    release:
        types: [published]
    workflow_dispatch:
        inputs:
            release_body:
                description: "Changelog/Body of the fake release"
                required: true
                default: "Test Notification - Testing the bot!"
            release_url:
                description: "URL of the release to link"
                required: true
                default: "https://github.com/mubashardev/WaEnhancer/releases/latest"

jobs:
    telegram-notify:
        runs-on: ubuntu-latest
        env:
            BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
            CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        steps:
            - name: Post release to Telegram channel
              if: ${{ env.BOT_TOKEN != '' && env.CHANNEL_ID != '' }}
              uses: mubashardev/telegram-github-action@master
              with:
                  to: ${{ secrets.CHANNEL_ID }}
                  token: ${{ secrets.BOT_TOKEN }}
                  format: markdown
                  disable_web_page_preview: true
                  message: |
                      ${{ github.event.release.body || inputs.release_body }}

                      Release: ${{ github.event.release.html_url || inputs.release_url }}
